:root {
  --aside-mobile-width: 66px;
  --aside-desktop-width: 150px;
  --orange: #FF8F00;
}

body {
  font-family: 'Roboto', sans-serif;
}

.debug {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.col.col_ctm {
  flex: 0 0 0%;
}

/* 
.py-2_ctm {
  padding: 5px 0;
} */

.main-wrapper {
  height: 100vh;
  width: 100%;
}

.main-wrapper nav {
  height: 70px;
  width: 100%;
}

.main-wrapper aside {
  height: calc(100vh - 70px);
  width: 66px;
}

.main-wrapper .main-content {
  width: calc(100% - var(--aside-mobile-width));
  height: calc(100vh - 70px);
  overflow-y: auto;
}

/**********************
          NAV
**********************/

nav .img-box {
  height: 100%;
  /* line-height: 70px; */
}

nav img.mob-logo {
  width: 40px;
  object-fit: cover;
}

nav .form_search_bar {
  background-color: #E5E5E5;
}

nav .form-control-search_ctm {
  background-color: #E5E5E5;
  line-height: 2;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
}

nav .form-control-search_ctm:focus {
  box-shadow: none;
  background-color: #E5E5E5;
  border: 1px solid #E5E5E5;
}

nav .form-control-search_ctm::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}

nav .dropdown i {
  color: var(--orange);
}




/**********************
         ASIDE
**********************/
aside a.link_ctm {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

aside a.link_ctm:hover {
  background-color: #ffffff76;
}

aside a.link_ctm i {
  font-size: 18px;
}





@media screen and (min-width: 992px) {
  .main-wrapper aside {
    width: 150px;
  }  

  .main-wrapper .main-content {
    width: calc(100% - var(--aside-desktop-width));
  }
}